@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --cor-de-fundo:#000000bd;
    --texto1:#10ff08;
    --texto2:#10ff08;
    --botao-ativo: #000000a4;
    --botao-inativo:rgla(58,55,94,0.5);
    --txto-fundo:rgla(58,55,94,0.3);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--texto1);
    font-family:"Orbitron";
    font-size: 35px;
}

.botao{
    background-color: var(--botao-inativo);
    font-size: 22px;
    color: var(--texto1);
    font-family: "orbitron";
    justify-content: center;
    display: flex;
    padding: 1em;
    margin: 15px;
    align-items: center;
    width: 80%;
    border-radius: 1px;
    border-radius: 40px 8px 40px 0;
    
}

.botoes{
    display: flex;
}

.ativo{
    background: var(--botao-ativo);
    border-bottom: 10px solid #10ff08;
    color: antiquewhite;
}











.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 35px;
}





